%nav#apps.horizontal
  %ul
    %li= link_to "STÖn", "http://ston.datasektionen.se"
    %li= link_to "Cashflow", "http://cashflow.datasektionen.se"
    %li.active= link_to "Mage", root_path
    %li= link_to "GitHub", "https://github.com/datasektionen"
