p.input
  display: block
  float: left
  margin: 5px 5px
label
  display: block
  font-size: 0.7em

.autocomplete
  font-size: 0.6em

.ui-menu .ui-menu-item a
  line-height: 1.0
  padding: 1px 1px

#voucher_info
  font-style: italic
  font-size: 0.7em
  margin: 0px 5px 5px 8px

.spinner
  margin-top: 20px

#voucher_diff
  font-size: 0.8em
  text-align: right
