body
  header.main
    border-bottom: 1px solid black
  footer.main
    width: 100%
    border-top: 1px solid black
    p
      font-size: 75%
      float: right
      padding: 0 5px 0

nav#apps
  /* width: 100% */
  background-color: black
  color: white
  

nav.horizontal
  ul
    list-style: none
    height: 1.5em

    li
      float: left
      padding-right: 3px
      padding-left: 3px
  
body
  section#content
    padding: 0 5px 0
    article
      text-align: justify

.session-change
  float: right
  padding-right: 2px

.money
  text-align: right

dl
  dt
    font-weight: bold
    display: inline-block
    float: left
    clear: left
    width: 150px
