table *
  font-size: 0.95em

table
  border-spacing: 0px
  margin-left: 5px

thead, tfoot
  background-color: #ddd

th
  text-align: left

thead th
  border-bottom: 1px solid black

tfoot th
  border-top: 1px solid black

tr td, tr th
  border-right: 1px solid black
  padding: 1px 3px

tr td:last-child, tr th:last-child
  border-right: none

tr:nth-child(even)
  background-color: #eee

tr:nth-child(odd)
  background-color: #fff

thead tr
  background-color: #eee !important


.voucher_rows, #voucher_rows
  tfoot
    background-color: transparent
    td, tr
      background-color: transparent
      border: none
    td
      border-top: 1px solid black


  .actions
    min-width: 10px
    text-align: center

.voucher .full .voucher_rows
  background-color: #fff
  border: 1px solid
  margin: 5px auto

.journal_entry td
  white-space: nowrap

.journal_entry .message

  pre
    height: 1.25em
    overflow: hidden
    font-size: 0.95em
    margin: 0px
    font-family: 'Helvetica', 'Arial', sans-serif
    max-width: 600px

.journal_entry:hover
  cursor: pointer
.journal_entry:nth-child(even):hover
  background-color: #a0aadc !important
.journal_entry:nth-child(odd):hover
  background-color: #bac4f8 !important

#report
  tr:last-child td
    border-top: 1px solid black
