#voucher_list.long
  width: 685px
#voucher_list
  border: 1px solid
  width: 565px
  font-size: 0.8em
  span
    float: left
    display: block
    height: 17px
    margin: 0px 2px 0px 2px
    padding-top: 3px
  #voucher_header.sortable 
    cursor: pointer
  #voucher_header
    background: #ddd
    font-weight: bold
    height: 20px
    padding: 2px


    .number
      width: 45px
      padding-right: 15px
    .accounting_date
      width: 70px
      padding-right: 15px
    .title
      width: 190px
    .organ
      width: 97px
    .enfoldment
      width: 70px
      padding-right: 15px
    .correcting
      width: 110px

  .voucher
    clear: both
    padding: 1px
    *
      overflow: hidden
  
  .voucher:nth-child(odd)
    background-color: #ddd
  .voucher:nth-child(even)
    background-color: #fff

  .select
    width: 20px
  .number
    width: 60px
  .accounting_date
    width: 85px
  .title
    width: 190px
  .organ
    width: 90px
  .enfoldment
    width: 85px
    padding-right: 5px
  .correcting
    width: 90px
    text-align: right
    margin-right: 5px

  .voucher:nth-child(even)
    background-color: #ddd
  .voucher:nth-child(odd)
    background-color: #fff
  .voucher:hover
    cursor: pointer 
  .voucher:nth-child(even):hover
    background-color: #a0aadc !important
  .voucher:nth-child(odd):hover
    background-color: #bac4f8 !important


  .voucher .full
    hr
      border: none
      border-bottom: 1px dashed
    span
      float: none
      display: inline

.canceled 
  text-decoration: line-through


.delete_row_link, .delete_row_link:hover
  border: none
  vertical-align: middle

.cur_sort
  text-decoration: underline

.sort_asc
  background: url("../images/icons/arrow_down.png") no-repeat 100% 70%
.sort_desc
  background: url("../images/icons/arrow_up.png") no-repeat 100% 70%

#voucher_data
  font-size: 0.95em
  margin-left: 5px
  p
    margin: 0px 0px

#voucher
  font-size: 0.9em

