nav a {
  text-decoration: none; }
nav a:hover {
  color: #e2007f; }
nav li.active a, nav li.active a:visited {
  color: #e2007f; }

nav#apps li a, nav#apps li a:visited {
  color: white; }
nav#apps li a:hover {
  color: #e2007f; }
nav#apps li.active {
  background-color: #333333; }
  nav#apps li.active a {
    color: #e2007f; }

.menu li a, .menu li a:visited {
  color: black; }
.menu li a:hover {
  color: #e2007f; }
.menu li.selected a {
  border-bottom: 1px solid #e2007f; }

p.session-info a, p.session-info:visited {
  color: white;
  border-bottom: 0; }

p.session-info a:hover {
  color: #e2007f; }

footer.main p {
  color: #666666; }
  footer.main p a, footer.main p a:visited {
    color: #333333; }

body {
  background-color: #eeeeee; }
  body #root {
    background-color: white; }

a, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black; }

a:hover {
  border-bottom: 1px solid black;
  color: #e2007f; }

p.session-info {
  color: white; }
  p.session-info span.person {
    color: #cccccc; }
  p.session-info a {
    margin-left: 1em; }

#root {
  min-width: 800px;
  margin: 0px 50px; }

body h1.title {
  display: inline;
  float: left;
  margin: 5px 50px 5px 5px; }
body header.main {
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;
  height: 70px; }
body footer.main {
  margin: 0px 50px;
  border-top: 1px solid black; }
  body footer.main p {
    font-size: 75%;
    float: right;
    padding: 0 5px 0; }

nav#apps {
  width: 100%;
  background-color: black;
  color: white; }
  nav#apps ul {
    margin: 0px; }

nav.horizontal ul {
  list-style: none;
  height: 1.5em; }
  nav.horizontal ul li {
    float: left;
    padding-right: 3px;
    padding-left: 3px; }

body section#content {
  padding: 0 5px 0; }
  body section#content article {
    text-align: justify; }

.money {
  text-align: right; }
  .money input {
    text-align: right; }

dl dt {
  font-weight: bold;
  display: inline-block;
  float: left;
  clear: left;
  width: 150px; }

p.session-info {
  margin: 0px 0px;
  float: right; }

.session-change {
  padding-right: 2px; }

#selectors form select, #selectors form input {
  padding: 4px;
  background-color: white;
  border: 1px solid black; }
#selectors form input:hover {
  background-color: #eeeeee; }

#sub {
  margin: 5px 10px 15px 10px;
  border-bottom: 1px dashed black;
  display: block;
  height: 30px; }

#serie {
  float: left; }

#sub_menu {
  display: block;
  float: left; }
  #sub_menu ul {
    margin: 0px 10px; }

#main_menu {
  margin: 20px;
  display: inline; }
  #main_menu ul {
    display: inline; }
    #main_menu ul li {
      float: left;
      list-style: none;
      margin: 5px; }
      #main_menu ul li a {
        display: block;
        width: 200px;
        border: 1px solid black;
        text-decoration: none;
        text-align: center;
        padding: 15px 0px; }

p.input {
  display: block;
  float: left;
  margin: 5px 5px; }

label {
  display: block;
  font-size: 0.7em; }

.autocomplete {
  font-size: 0.6em; }

.ui-menu .ui-menu-item a {
  line-height: 1;
  padding: 1px 1px; }

#voucher_info {
  font-style: italic;
  font-size: 0.7em;
  margin: 0px 5px 5px 8px; }

.spinner {
  margin-top: 20px; }

#voucher_diff {
  font-size: 0.8em;
  text-align: right; }

table * {
  font-size: 0.95em; }

table {
  border-spacing: 0px;
  margin-left: 5px; }

thead, tfoot {
  background-color: #dddddd; }

th {
  text-align: left; }

thead th {
  border-bottom: 1px solid black; }

tfoot th {
  border-top: 1px solid black; }

tr td, tr th {
  border-right: 1px solid black;
  padding: 1px 3px; }

tr td:last-child, tr th:last-child {
  border-right: none; }

tr:nth-child(even) {
  background-color: #eeeeee; }

tr:nth-child(odd) {
  background-color: white; }

thead tr {
  background-color: #eeeeee !important; }

.voucher_rows tfoot {
  background-color: transparent; }
  .voucher_rows tfoot td, .voucher_rows tfoot tr {
    background-color: transparent;
    border: none; }
  .voucher_rows tfoot td {
    border-top: 1px solid black; }
.voucher_rows .actions {
  min-width: 10px;
  text-align: center; }

.voucher .full .voucher_rows {
  background-color: white;
  border: 1px solid;
  margin: 5px auto; }

#voucher_list {
  border: 1px solid;
  width: 500px;
  font-size: 0.8em; }
  #voucher_list span {
    float: left;
    display: block;
    height: 17px;
    margin: 0px 2px 0px 2px;
    padding-top: 3px; }
  #voucher_list #voucher_header {
    background: #dddddd;
    font-weight: bold;
    height: 20px;
    padding: 2px; }
  #voucher_list .voucher {
    clear: both;
    padding: 1px; }
    #voucher_list .voucher * {
      overflow: hidden; }
  #voucher_list .voucher:nth-child(odd) {
    background-color: #dddddd; }
  #voucher_list .voucher:nth-child(even) {
    background-color: white; }
  #voucher_list .number {
    width: 45px; }
  #voucher_list .accounting_date {
    width: 70px; }
  #voucher_list .title {
    width: 190px; }
  #voucher_list .organ {
    width: 100px; }
  #voucher_list .enfoldment {
    width: 70px; }
  #voucher_list .created_by {
    width: 150px; }
  #voucher_list .correcting {
    width: 100px;
    text-align: right;
    margin-right: 5px; }
  #voucher_list .voucher:nth-child(odd) {
    background-color: #dddddd; }
  #voucher_list .voucher:nth-child(even) {
    background-color: white; }
  #voucher_list .voucher:hover {
    cursor: pointer; }
  #voucher_list .voucher:nth-child(odd):hover {
    background-color: #a0aadc !important; }
  #voucher_list .voucher:nth-child(even):hover {
    background-color: #bac4f8 !important; }
  #voucher_list .voucher .full hr {
    border: none;
    border-bottom: 1px dashed; }

#voucher_list.long {
  width: 775px; }

.canceled {
  text-decoration: line-through; }

/* Typography presets
 * ------------------
 */
.gigantic {
  font-size: 105px;
  line-height: 120px;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -2px; }

.large, h2 {
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1px; }

.big, h3 {
  font-size: 26px;
  line-height: 36px;
  margin: 5px; }

h4 {
  margin: 5px; }

.normal, body {
  font: 16px/1.5 Helvetica, Arial, sans-serif; }

.small, small {
  font-size: 13px;
  line-height: 18px; }

section#content h1 {
  font-size: 42px; }

table.datatable {
  border-collapse: collapse; }
  table.datatable tr td {
    padding: 0 5px; }
  table.datatable thead {
    background-color: #eeeeee; }
    table.datatable thead tr th {
      border-spacing: 0px;
      padding: 0 5px;
      text-align: left; }
  table.datatable tbody tr td:last-child * {
    display: inline; }
  table.datatable tfoot tr td {
    border-top: 1px solid #cccccc; }

fieldset {
  border-top: 1px solid black;
  /* float: left */ }
  fieldset legend {
    text-align: left; }

form.formtastic fieldset {
  float: left; }
form.formtastic fieldset.purchase_items {
  border-left: 1px solid black; }
form.formtastic fieldset.buttons {
  clear: both; }

textarea {
  width: 200px;
  height: 100px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

h1 a, h1 a:hover, h1 a:visited {
  border: 0px; }

.flash {
  margin: 0 0 8px;
  padding: 4px 7px;
  border: 1px solid #999999;
  color: black;
  background: #dddddd; }
  .flash .error {
    border-color: #990000;
    background-color: #ff9999; }
  .flash .warning {
    border-color: #999900;
    background-color: #ffff99; }
  .flash .notice {
    border-color: #009900;
    background-color: #bbffbb; }

.clear {
  clear: both; }
