-if @not_verified
  .flash.error
    Ditt konto måste verifieras innan du kan börja använda systemet. Be ordförande eller kassör om access.

%h2 Välkommen!
%p ...till Datasektionens vid KTHs bokföringssystem

