
%tr.input
  %td= f.input :account_number, :label=>false, :input_html =>{:class=>"account_autocomplete"}
  %td= f.input :formula, :label=>false
  %td= f.input :script_name, :label=>false
  %td= link_to_remove_field "Radera", f, ["td", ".input"]
