%h1 404 - Nope, inte här
%p
  =image_tag "merlin_404.gif"
%p 
  Förmodligen är det du som är dålig, men om du tror att du har hittat en bugg,
  = link_to "rapportera", "https://github.com/datasektionen/mage/issues/new"
  den gärna.

