:css
  body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
  div.dialog {
    width: 40em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: none;
    border-right-color: #999;
    border-bottom-color: #999;
  }
  h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
.dialog
  %h1 404 - Nope, inte här
  =image_tag "merlin_404.gif"
  %p
    Förmodligen är det du som är dålig, men om du tror att du har hittat en bugg,
    = link_to "rapportera", "https://github.com/datasektionen/mage/issues/new"
    den gärna.

