#selectors
  = form_tag current_url,{:method=>:post} do
    = select_tag(:current_activity_year, options_from_collection_for_select(ActivityYear.order("year DESC"), :id, :year,current_activity_year.id))
    = select_tag(:current_serie, options_from_collection_for_select(Serie.accessible_by(current_user), :id, :title, current_serie.id))
    
    = submit_tag "Uppdatera"

