#selectors
  = form_tag current_url,{:method=>:post,:id=>:selector} do
    = select_tag(:current_activity_year, options_from_collection_for_select(ActivityYear.order("year DESC"), :id, :year,current_activity_year.try(:id)))
    = select_tag(:current_serie, options_from_collection_for_select(Serie.accessible_by(current_user), :id, :to_s, current_serie.try(:id)))

:javascript
  $("#selector select").change(function(){$("#selector").submit()})
  
