= render :partial => "accounting/select"

- javascript %w(voucher_list.js)

- if @vouchers
  %h4 Senaste verifikaten
  = render :partial=>"vouchers/voucher_list", :object => @vouchers
- else
  %strong Du har inte rättigheter att visa den valda serien
