%h2 Nämnder

%table.datatable
  %thead
    %th Nämnd
    %th 
  %tbody
    - @organs.each do |organ|
      %tr
        %td= link_to organ, organ
        %td= link_to t('edit'), edit_organ_path(organ)
  
