%h2 Serier


%table.datatable
  %thead
    %th Serie
    %th 
  %tbody
    - @series.each do |serie|
      %tr
        %td= link_to serie, serie
        %td= link_to t('edit'), edit_series_path(serie)
  
%p=link_to "Skapa ny serie", new_series_path
