%h2 Serier


%table.datatable
  %thead
    %th Serie
    %th 
  %tbody
    - @series.each do |s|
      %tr
        %td= link_to s, s
        %td= link_to t('edit'), edit_series_path(s)
  
%p=link_to "Skapa ny serie", new_series_path
