-# %h3 Serie
-# = render "accounting/select"

%h3 Summor
%table.datatable
  %thead
    %th Nummer
    %th Namn
    %th Summa
  - @accounts.each do |account, sum|
    %tr
      %td= account.number
      %td= account.name
      %td= currency sum
