%tr
  %td= f.input :number, :label=>false, :input_html=>{:style=>"width: 50px;text-align: right"}, :disabled=>!f.object.allow_destroy?
  %td= f.input :name, :label=>false
  %td= f.input :ingoing_balance, :label=>false, :input_html=>{:style=>"text-align: right"}
  %td= link_to_remove_field image_tag("icons/cross.png", :alt=>'delete'), f, ["td", "tr"] if f.object.allow_destroy?
