%tr
  %td= f.input :number, :label=>false, :input_html=>{:style=>"width: 50px;text-align: right"}
  %td= f.input :name, :label=>false
  %td= f.input :ingoing_balance, :label=>false, :input_html=>{:style=>"text-align: right"}
  %td
