%h3 Kontoplan

- if can? :update, Account.new
  %p
    = link_to "Redigera kontoplan", edit_activity_year_accounts_path

%ul
  - @accounts.group_by(&:account_group).each do |account_group, accounts|
    %li
      %strong #{account_group.title} (#{account_group.account_type_string})
      %ul
        - accounts.each do |account|
          %li 
            =account.number
            -
            =account.name
            - if account.ingoing_balance != 0
              Ingående balans:
              = currency(account.ingoing_balance)
        

