- use_long_format = defined? long
= form_tag print_vouchers_path(:format=>:pdf) do
  #voucher_list{:class=>use_long_format ? "long" : ""}
    #voucher_header
      %span.select
      %span.number Ver.Nr.
      %span.accounting_date Ver.Datum.
      %span.title Beskriving
      %span.organ Nämnd
      - if use_long_format
        %span.created_by Bokfört av
        %span.correcting 
      %span.enfoldment Omslutning
    #list_body
      = render :partial=>"vouchers/voucher_list_row", :collection=>voucher_list, :locals=>{:use_long_format=>use_long_format} 

  = submit_tag "Skriv ut valda verifikat"

